<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method MenuController.showMenus -->
    <form id="filter-form">

        <label for="nameSearch">Restaurant Name</label>
        <input id="nameSearch" type="text" name="nameSearch"/>
        <select id="menuType" name="menuType">
            <option value="menuType">All</option>
            <!-- For each menu type you should have one <option> like below  -->
            <option th:each="menuType: ${menuTypes}" th:value="${menuType}" th:text="${menuType}" ></option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- MenuController.showAdd -->
        <a href="/menu/add" class="add-item" sec:authorize="hasRole('ROLE_ADMIN')">
            Add new menu
        </a>
    </div>
    <table>
        <tr>
            <th>Restaurant name</th>
            <th>Menu Type</th>
            <th>Menu Items</th>
            <th>Creator</th>
            <th>Actions</th>
        </tr>
        <!-- For each menu you should have one <tr> like below -->
        <tr class="item" th:each="menu: ${menus}" >
            <td th:text="${menu.restaurantName}"></td>
            <td th:text="${menu.menuType}"></td>
            <td>
                <ul>
                    <!-- For each menu's item you should display one <li> element like the one below -->
                    <li th:each="menuItem: ${menu.menuItems}" th:text="${menuItem.name}"></li>
                </ul>
            </td>
            <td >[menu.creator]</td><!--IGNORED-->
            <td>
                <!-- MenuController.delete -->
                <form method="POST" th:action="@{'/menu/{id}/delete' (id=${menu.getId()})}" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- MenuController.showEdit -->
                <a   th:href="@{'/menu/{id}/edit' (id=${menu.getId()})}"  class="edit-item" sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
